.movie-card {
  padding: 10px 20px 10px 20px;
}

.movie-container {
  padding: 10px 10px 10px 10px;
}

.movie-container h1 {
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 18px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: #ffffff;
}

.form-container-content {
  height: 165px;
  margin-bottom: 20px;
}
.search-input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 298px0;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.015em;
}

.search-button {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 35px;
  color: #000000;
  border-radius: 4px;
  margin-top: 10px;
}

.movie-card-user {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-left: 10px;
  color: #ffffff;
}

.movie-card-text {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .search-button {
    width: 334px;
    height: 50px;
  }

  .movie-container {
    padding: 10px 30px 30px 30px;
  }
}

@media (min-width: 976px) {
  .form-container-content {
    padding: 0px 15px;
  }
}

@media (min-width: 1200px) {
  .search-button {
    width: 370px;
    height: 55px;
  }

  .search-input {
    height: 55px;
  }
}
